---
- name: Remove existing container
  community.docker.docker_container:
    name: portainer
    state: absent
    networks: []
    force_kill: true
  when: remove_existing_container or 'outpost' in group_names

- name: Remove persistent data
  ansible.builtin.file:
    state: absent
    path: '{{ persistent_data_path.split(":") | first | string }}'
  when: remove_persistent_data
