---
- name: Remove existing container
  community.docker.docker_container:
    name: portainer
    state: absent
    networks: []
    force_kill: true
  when: container_recreate | default(false)

- name: Remove persistent data
  ansible.builtin.file:
    state: absent
    path: '{{ persistent_data_path.split(":") | first | string }}'
    force: true
  when:
    - stage == 'development'
    - ansible_parent_role_names is not defined
    - container_recreate | default(false)
