---
- name: "Register endpoints with Portainer"
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/endpoints"
    method: POST
    headers:
      Authorization: "Bearer {{ (auth_token.content | from_json).jwt }}"
    body_format: form-multipart
    validate_certs: false
    body:
      Name: "{{ item.name }}"
      URL: "{{ item.url }}"
      PublicURL: "{% if item.id == 1 %}{{ ansible_facts['default_ipv4'].address }}{% else %}{{ item.publicurl }}{% endif %}"
      ContainerEngine: "docker"
      EndpointCreationType: "{% if item.id == 1 %}1{% else %}2{% endif %}"
      TLS: "{% if item.id == 1 %}false{% else %}true{% endif %}"
      TLSSkipVerify: "{% if item.id == 1 %}false{% else %}true{% endif %}"
      TLSSkipClientVerify: "{% if item.id == 1 %}false{% else %}true{% endif %}"
  register: response
  with_items:
    - "{{ endpoints }}"
  when: item.name not in portainer_known_endpoints

- name: Refresh Endpoints
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/endpoints"
    method: GET
    return_content: true
    validate_certs: false
    headers:
      Authorization: Bearer {{ (auth_token.content | from_json).jwt }}
  register: portainer_known_endpoints_raw

- name: Refresh endpoints to facts
  ansible.builtin.set_fact:
    portainer_known_endpoints: "{{ portainer_known_endpoints_raw.json | map(attribute='Name') | list }}"
    portainer_known_endpoint_ids: "{{ portainer_known_endpoints_raw.json | map(attribute='Id') | list }}"

- name: Verifying calls
  ansible.builtin.fail:
    msg: "Could not add endpoint: {{ item.item.name }}"
  when: item.stdout is defined and (item.stdout|from_json).err is defined
  with_items:
    - "{{ response.results }}"

- name: Create endpoint_group for the main server if they do not exist
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/endpoint_groups"
    method: POST
    return_content: true
    headers:
      Authorization: "{{ (auth_token.content | from_json).jwt }}"
    body_format: json
    body:
      associatedEndpoints: "{{ portainer_known_endpoint_ids[:1] }}"
      name: "Main server"
      description: "Main Portainer Instance"
    status_code: [200, 409]
    validate_certs: false

- name: Create endpoint_group for outpost servers if they do not exist
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/endpoint_groups"
    method: POST
    return_content: true
    headers:
      Authorization: "{{ (auth_token.content | from_json).jwt }}"
    body_format: json
    body:
      associatedEndpoints: "{{ portainer_known_endpoint_ids[1:] }}"
      name: "Outpost server"
      description: "Outpost Servers"
    status_code: [200, 409]
    validate_certs: false
  when: outpost_online
