---
- name: Set DOCKER_MIN_API_VERSION environment variable for Docker service
  ansible.builtin.command: >
    bash -c 'echo -e "[Service]\nEnvironment=DOCKER_MIN_API_VERSION=1.24" | sudo tee /etc/systemd/system/docker.service.d/override.conf'
  args:
    creates: /etc/systemd/system/docker.service.d/override.conf

- name: Reload systemd daemon
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Restart Docker service
  ansible.builtin.systemd_service:
    name: docker
    state: restarted
