---
- name: "Gather facts for outpost servers"
  ansible.builtin.setup:
    gather_subset:
      - '!all'
      - network
  delegate_to: "{{ item }}"
  delegate_facts: true
  loop: "{{ groups['outpost'] }}"
  when: groups['outpost'] is defined
