---
- name: "Block to gather facts for outposts and main server"
  when: outpost_online
  block:
    - name: "Gather facts for outpost servers"
      ansible.builtin.setup:
        gather_subset:
          - '!all'
          - network
      delegate_to: "{{ item }}"
      delegate_facts: true
      loop: "{{ groups['outpost'] }}"
    - name: "Gather facts for main Portainer server"
      ansible.builtin.setup:
        gather_subset:
          - '!all'
          - network
      delegate_to: "{{ item }}"
      delegate_facts: true
      loop: "{{ groups['homeserver'] }}"

- name: "Set fact for main Portainer instance, should this not have been set"
  ansible.builtin.set_fact:
    portainer_endpoint: "https://{{ hostvars[groups['homeserver'][0]].ansible_default_ipv4.address }}:{{ host_port }}/api"
  when: portainer_endpoint is not defined
