---
# The main Portainer install is on the server that is also the 'homeserver' in the inventory.
# Additional servers are 'outpost' servers that get Portainer Agent installed and registered
# to the main Portainer instance.
# This file builds the required variable to set the endpoints
# Please not that the first endpoint is a local one. Adding it throught the API fails.

- name: "Set info for this server as an endpoint"
  ansible.builtin.set_fact:
    endpoints:
      - { name: "{{ inventory_hostname }}", url: "", publicurl: "{{ ansible_default_ipv4.address }}" }

- name: "Fail if the main endpoint is not present and inform the user"
  ansible.builtin.fail:
    msg: "The main Portainer server (homeserver) must be configured as a local endpoint."
  when: "inventory_hostname not in portainer_known_endpoints"

- name: Block to add outpost servers as endpoints
  when: groups['outpost'] is defined
  block:
    - name: Add each outpost server as an endpoint
      ansible.builtin.set_fact:
        endpoints: "{{ endpoints + [{'name': host, 'url': 'tcp://' + hostvars[host]['ansible_default_ipv4']['address'] + ':9001', 'publicurl': hostvars[host]['ansible_default_ipv4']['address']}] }}" # noqa: yaml[line-length]
      loop: "{{ groups['outpost'] }}"
      loop_control:
        loop_var: host
