---
- name: "Get current status of {{ container_name }}"
  community.docker.docker_container_info:
    name: "{{ container_name }}"
  register: portainer_docker

- name: "Set program switch"
  ansible.builtin.set_fact:
    was_already_running: "{{ portainer_docker.container.State.Running | default(false) }}"

- name: Ensure persistent_data_path is there
  ansible.builtin.file:
    path: "{{ persistent_data_path }}"
    state: directory
    mode: "0644"
  when: container_recreate or not was_already_running

- name: Deploy Portainer to {{ inventory_hostname }} # noqa: args[module]
  community.docker.docker_container:
    name: "{{ container_name }}"
    image: "{{ container_image }}"
    labels: "{{ container_labels | default(omit) }}"
    state: started
    detach: true
    recreate: "{{ container_recreate }}"
    restart_policy: "{{ container_restart_policy }}"
    links: "{{ container_links | default(omit) }}"
    networks: "{{ container_network | default(omit, True) }}"
    networks_cli_compatible: false # avoid ansible 2.12. Deprecation warning
    image_name_mismatch: "recreate"
    env:
      PORTAINER_LICENSE_KEY: "{{ portainer_license_key }}"
    published_ports: "{{ container_ports | default(omit, True) }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ persistent_data_path }}"
  register: portainer_docker_deploy
  when: container_recreate or not was_already_running

- name: "Refresh variable when deploy has taken place"
  ansible.builtin.set_fact:
    portainer_docker: "{{ portainer_docker_deploy }}"
  when: portainer_docker_deploy.skipped is not defined

- name: "Ensure presence of cifs-utils for volume mappings"
  ansible.builtin.package:
    name: cifs-utils
    state: present

- name: "Ensure the shared network 'reverse-proxy' exists to enable reverse proxying"
  community.docker.docker_network:
    name: reverse-proxy
    driver: bridge
    enable_ipv6: true
    state: present
    validate_certs: false

- name: Set fact for container state
  ansible.builtin.set_fact:
    portainer_is_running: "{{ portainer_docker.container.State.Running }}"

- name: Set fact for network address
  ansible.builtin.set_fact:
    portainer_endpoint: https://{{ portainer_docker.container.NetworkSettings.Networks | dict2items | map(attribute='value.IPAddress') | list | first }}:{{ host_port }}/api # noqa: yaml[line-length]

- name: Check container status
  ansible.builtin.fail:
    msg: "Portainer did not start: {{ portainer_is_running }}"
  when: not portainer_is_running

- name: Verify that Portainer web interface is available
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/status"
    method: GET
    validate_certs: false
  register: wait_portainer_result
  until: wait_portainer_result is succeeded
  retries: 10
  delay: 3
  changed_when: false

- name: Include setting admin password tasks
  ansible.builtin.include_tasks: admin.yml
  when: admin_user is defined and not was_already_running

- name: "After install, login with username/password to generate authentication token, user: {{ admin_user }}"
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/auth"
    method: POST
    return_content: true
    body_format: json
    body: '{"Username": "{{ admin_user }}", "Password": "{{ admin_password }}"}'
    validate_certs: false
  register: auth_token
  when: admin_user and admin_password is defined

- name: Include optional settings tasks
  ansible.builtin.include_tasks: settings.yml
  when: configure_settings and not was_already_running
