---
# This include_vars allows you to keep your vaulted variables outside of your main repo
# It assumes the PRIVATE_REPO environment variable is set to the path of your private repo
# On home-infra, this is done by firstrun.sh.
# However, this role will not break if you do not have these
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ lookup('env', 'PRIVATE_REPO') | default('~') }}/ansible-vault/{{ ansible_role_name }}-vars.yml"
      skip: true

# Call this role as follows:
# - name: "Include role to deploy homepage-stack to Portainer"
#  ansible.builtin.include_role:
#    name: waal70.portainer
#  vars:
#    stack_list:
#      - name: homepage
#        file: homepage.yml
#        endpointid: 2 # optional, defaults to 1
#        stack_update: true # optional, defaults to do_stack_update variable
#        env: {} # optional, defaults to default_env variable
#        dirs: [] # optional, list of directories to create before deploying stack
#        post_handler: '' # optional, path to task file to run after stack creation

- name: Include clean-up tasks
  ansible.builtin.include_tasks: clean-up.yml

- name: Include installation tasks for main Portainer
  ansible.builtin.include_tasks: install.yml
  when: ('homeserver' in group_names)

- name: "Include installation tasks for Portainer Agent on outpost servers"
  ansible.builtin.include_tasks: install-agent.yml
  when: ('outpost' in group_names)

- name: "Login with username/password to generate authentication token, user: {{ admin_user }}"
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/auth"
    method: POST
    return_content: true
    body_format: json
    body: '{"Username": "{{ admin_user }}", "Password": "{{ admin_password }}"}'
    validate_certs: false
  register: auth_token
  when: admin_user and admin_password is defined

- name: "Check authentication response for {{ admin_user }}"
  ansible.builtin.fail:
    msg: "Failed to authenticate with Portainer API for user {{ admin_user }}"
  when: "auth_token.status != 200"

- name: "Get JWT token from authentication response"
  ansible.builtin.set_fact:
    jwt_token: "{{ auth_token.json.jwt }}"
  when: auth_token.status == 200

- name: Get accessible endpoints
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/endpoints"
    method: GET
    return_content: true
    validate_certs: false
    headers:
      Authorization: Bearer {{ (auth_token.content | from_json).jwt }}
  register: portainer_known_endpoints_raw

- name: Save endpoints as fact
  ansible.builtin.set_fact:
    portainer_known_endpoints: "{{ portainer_known_endpoints_raw.json | map(attribute='Name') | list }}"
    portainer_known_endpoint_ids: "{{ portainer_known_endpoints_raw.json | map(attribute='Id') | list }}"
    portainer_remote_endpoint_type: "{{ portainer_known_endpoints_raw.json }}"

- name: "Include tasks to determine the list of existing endpoints, only needed when this is the homeserver"
  ansible.builtin.include_tasks: get_endpoints.yml
  when: ('homeserver' in group_names)

- name: Include tasks to add Portainer Agents for main node (=homeserver) only
  ansible.builtin.include_tasks: endpoints.yml
  when: (endpoints is not none) and ('homeserver' in group_names)

# Is this the place to add the default jumpserver stacks?
- name: Incude tasks to add stacks to Portainer
  ansible.builtin.include_tasks: stacklooper.yml
  when: (stack_list is defined and stack_list | length > 0)

# Andre fix November 2025: Ensure API versions are set:
# Andre December 2025: Removed as now in docker daemon options
