---
# This include_vars allows you to keep your vaulted variables outside of your main repo
# It assumes the PRIVATE_REPO environment variable is set to the path of your private repo
# On home-infra, this is done by firstrun.sh.
# However, this role will not break if you do not have these
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ lookup('env', 'PRIVATE_REPO') | default('~') }}/ansible-vault/{{ ansible_role_name }}-vars.yml"
      skip: true

- name: "Gather stat for file"
  ansible.builtin.stat:
    path: /tmp/portainertje
  register: stat_result

- name: "Set fact for Portainer run completion"
  ansible.builtin.set_fact:
    port_skip: "{{ stat_result.stat.exists }}"

# Call this role as follows:
# - name: "Include role to deploy homepage-stack to Portainer"
#  ansible.builtin.include_role:
#    name: waal70.portainer
#  vars:
#    stack_list:
#      - name: homepage
#        file: homepage.yml
#        endpointid: 2 # optional, defaults to 1
#        stack_update: true # optional, defaults to do_stack_update variable
#        env: {} # optional, defaults to default_env variable
#        dirs: [] # optional, list of directories to create before deploying stack
#        post_handler: '' # optional, path to task file to run after stack creation
#
# This role should be run on the homeserver only, as it assumes that the Portainer
# instance is running there. It will however also install Portainer Agent on any
# outpost servers defined in the inventory and manage stack installs on that satellite

- name: "Set flag for (any) outpost online"
  ansible.builtin.set_fact:
    outpost_online: "{{ (groups['outpost'] is defined) and (groups['outpost'] | length > 0) }}"

- name: Include clean-up tasks
  ansible.builtin.include_tasks: clean-up.yml
  when: ('homeserver' in group_names) and not port_skip

- name: Include installation tasks for main Portainer
  ansible.builtin.include_tasks: install.yml
  when: ('homeserver' in group_names) and not port_skip

- name: "Determine presence of Portainer hosts"
  ansible.builtin.include_tasks: gather_portainer.yml
  when: outpost_online and not port_skip

- name: "Include installation tasks for Portainer Agent on outpost servers"
  ansible.builtin.include_tasks: install-agent.yml
  when: outpost_online and not port_skip

- name: "Login with username/password to generate authentication token, user: {{ admin_user }}"
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/auth"
    method: POST
    return_content: true
    body_format: json
    body: '{"Username": "{{ admin_user }}", "Password": "{{ admin_password }}"}'
    validate_certs: false
  register: auth_token
  when: admin_user and admin_password is defined

- name: "Check authentication response for {{ admin_user }}"
  ansible.builtin.fail:
    msg: "Failed to authenticate with Portainer API for user {{ admin_user }}"
  when: "auth_token.status != 200"

- name: "Get JWT token from authentication response"
  ansible.builtin.set_fact:
    jwt_token: "{{ auth_token.json.jwt }}"
  when: auth_token.status == 200

- name: Retrieve a list of already configured endpoints from Portainer
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/endpoints"
    method: GET
    return_content: true
    validate_certs: false
    headers:
      Authorization: Bearer {{ (auth_token.content | from_json).jwt }}
  register: portainer_known_endpoints_raw
  when: not port_skip

- name: Save endpoints as fact
  ansible.builtin.set_fact:
    portainer_known_endpoints: "{{ portainer_known_endpoints_raw.json | map(attribute='Name') | list }}"
    portainer_known_endpoint_ids: "{{ portainer_known_endpoints_raw.json | map(attribute='Id') | list }}"
  when: not port_skip

- name: "Include tasks to determine the list of existing endpoints, only needed when this is the homeserver"
  ansible.builtin.include_tasks: get_endpoints.yml
  when: (portainer_known_endpoints | length) < (groups['outpost'] | length | default(0)) and not port_skip

- name: Include tasks to add Portainer Agents for main node (=homeserver) only
  ansible.builtin.include_tasks: endpoints.yml
  when: (endpoints is not none) and not port_skip

- name: "Debug endpoint and hostname"
  ansible.builtin.debug:
    msg: "Requested deploy on {{ portainer_known_endpoints[endpoint_idx] }}, while running on host {{ inventory_hostname }}"
  when: not port_skip

# Only proceed to stack deployment if we have the correct server instance
- name: Incude tasks to add stacks to Portainer
  ansible.builtin.include_tasks: stacklooper.yml
  when: (stack_list is defined and stack_list | length > 0) and (portainer_known_endpoints[endpoint_idx] == inventory_hostname)

# Andre fix November 2025: Ensure API versions are set:
# Andre December 2025: Removed as now in docker daemon options
- name: Run completed, so set the marker
  ansible.builtin.file:
    path: /tmp/portainertje
    state: touch
    mode: '0644'
  when: not port_skip
