---
# This include_vars allows you to keep your vaulted variables outside of your main repo
# It assumes the PRIVATE_REPO environment variable is set to the path of your private repo
# On home-infra, this is done by firstrun.sh.
# However, this role will not break if you do not have these
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: "{{ item }}"
  with_first_found:
    - files:
        - "{{ lookup('env', 'PRIVATE_REPO') | default('~') }}/ansible-vault/{{ ansible_role_name }}-vars.yml"
      skip: true

- name: "Get current status of {{ container_name }}"
  community.docker.docker_container_info:
    name: "{{ container_name }}"
  register: portainer_docker

- name: "Set program switch"
  ansible.builtin.set_fact:
    was_already_running: "{{ portainer_docker.container.State.Running | default(false) }}"

- name: Include clean-up tasks
  ansible.builtin.include_tasks: clean-up.yml

- name: Include installation tasks
  ansible.builtin.include_tasks: install.yml

- name: Debug switch values
  ansible.builtin.debug:
    msg:
      - "{{ admin_user }}"
      - "{{ was_already_running }}"

- name: Include setting admin password tasks
  ansible.builtin.include_tasks: admin.yml
  when: admin_user is defined and not was_already_running

- name: "Login with username/password to generate authentication token, user: {{ admin_user }}"
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/auth"
    method: POST
    return_content: true
    body_format: json
    body: '{"Username": "{{ admin_user }}", "Password": "{{ admin_password }}"}'
    validate_certs: false
  register: auth_token
  when: admin_user and admin_password is defined

- name: "Check authentication response for {{ admin_user }}"
  ansible.builtin.fail:
    msg: "Failed to authenticate with Portainer API for user {{ admin_user }}"
  when: "auth_token.status != 200"

- name: "Get JWT token from authentication response"
  ansible.builtin.set_fact:
    jwt_token: "{{ auth_token.json.jwt }}"
  when: auth_token.status == 200

- name: Include tasks to add Portainer Agents for main node only
  ansible.builtin.include_tasks: endpoints.yml
  when: (endpoints is not none) and ('jumpservers' not in group_names)

# Is this the place to add the default jumpserver stacks?
- name: Incude tasks to add stacks to Portainer
  ansible.builtin.include_tasks: stacklooper.yml
  when: ('jumpservers' not in group_names) and (stack_list is defined and stack_list | length > 0)

- name: Include optional settings tasks
  ansible.builtin.include_tasks: settings.yml
  when: configure_settings and not was_already_running

# Andre fix November 2025: Ensure API versions are set:

# - name: Check whether Docker API fix is already applied
#   ansible.builtin.stat:
#     path: /etc/systemd/system/docker.service.d/override.conf
#   register: docker_api_fix_stat
# TODO check for proper way to know fix was applied

- name: Include tasks to fix Docker API version compatibility
  ansible.builtin.include_tasks: fix_api_version.yml
#  when: not docker_api_fix_stat.stat.exists
