# Design decision: if we are not deploying to the main portainer, we assume the last outpost in the list is the target
- name: Create portainer stacks for the main instance
  ansible.builtin.include_tasks: create_stack.yml
  vars:
    portainer_api: "{{ portainer_endpoint }}"
    portainer_admin_user: "{{ admin_user }}"
    portainer_admin_password: "{{ admin_password }}"
    endpoint_id: "{% if 'outpost' in group_names %}{{ portainer_known_endpoint_ids | last }}s{% else %}{{ portainer_known_endpoint_ids | first }}{% endif %}"
    stack_name: "{{ item.name }}"
    stack_compose: "{{ lookup('file', item.file) }}"
    stack_update: "{{ item.stack_update | default(do_stack_update) }}"
    stack_env: "{{ item.env | default(default_env) }}"
    directories: "{{ item.dirs }}"
    post_create_handler: "{{ item.post_handler | default('') }}"
  with_items:
    - "{{ stack_list }}"
